:where(.css-dev-only-do-not-override-vrrzze).ant-tabs-top >.ant-tabs-nav, :where(.css-dev-only-do-not-override-vrrzze).ant-tabs-bottom >.ant-tabs-nav, :where(.css-dev-only-do-not-override-vrrzze).ant-tabs-top >div>.ant-tabs-nav, :where(.css-dev-only-do-not-override-vrrzze).ant-tabs-bottom >div>.ant-tabs-nav {
  margin-bottom: .5px;
}